body {
    margin: 0;
}

nav {
    margin-top: 25px;
    background-color: seagreen
}

    nav h2, nav p {
        color: #FFF;
        margin-left: 25px;
    }

    nav p {
        font-size: 12px;
        font-style: italic;
    }

li {
    padding-bottom: 4px;
}

    li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        text-shadow: 0px 1px #000000;
    }

nav ul {
    padding-top: 10px;
    width: 100%;
    display: flex;    
}

    nav ul li {              
        list-style: none;
        text-align: center;
        flex-grow: 1;
        padding-top: 5px;
        margin: 0 10px;
        max-width: 200px;
    }

 .headerpic{
     width: 40%;
 }

.weather{
    border-color: black;
    border-width: 3px;
}

.tempChange {
    float: right;
    display: inline-block;
}

.wordRap {
    word-wrap:normal;
    width: 250px;
}

.error {
    color: red;
    background-color:white;
    
}
.pageContents {
    margin-left:2%;
    margin-right:2%;
}
.detailInfo{
    width:40%;
}