@model NPGeek.Web.Models.ViewModels.SurveyResultsModel
@{
    ViewBag.Title = "SurveyResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int tally = 1;
}

<h2>Survey Results</h2>

<table>
    @foreach (var park in Model.ParkSurveyList)
    {
        <tr>
            <td>
                <img src="~/Content/img/parks/@(park.parkCode).jpg"
            </td>
            <td>
                @park.parkName
            </td>
            <td>
                @(tally++)
            </td>
        </tr>
    }
</table>


