
@{
    Layout = null;
    <link href="~/Content/ntlparkgeek.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header><img class="headerpic" src="~/Content/img/logo.png" /></header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Parks", "Index", "Home")</li>
            <li>@Html.ActionLink("Survey", "", "")</li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>
