@model NPGeek.Web.Models.ViewModels.BaseViewModel
@{
    Layout = null;
    <link href="~/Content/ntlparkgeek.css" rel="stylesheet" />
    string f = "";
    string c = "";
    if(Model.Fahrenheit)
    {
        f = "selected";
    }
    else
    {
        c = "selected";
    }
}

<!DOCTYPE html>

<html style="background-color:darkseagreen">

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <header><img class="headerpic" src="~/Content/img/logo.png" /></header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Parks", "Index", "Home")</li>
            <li>@Html.ActionLink("Survey", "Survey", "Home")</li>
            <li class="tempChange">
                <form method="post" action="@Url.Action("ChangeTemp", "Home")">
                    <select name="type" onchange="this.form.submit();">
                        <option @f value="f">Fahrenheit</option>
                        <option @c value="c">Celsius</option>
                    </select>
                </form>
            </li>
        </ul>   
                
          
    </nav>
    <div class="pageContents">
        @RenderBody()
    </div>
</body>
</html>
